@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



html,body{
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.mulish {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  letter-spacing: .1px;
  font-style: normal;
}

.blog-slider__pagination .swiper-pagination-bullet {
  background-color: #d1d5db; /* Tailwind's gray-300 */
  opacity: 1;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.blog-slider__pagination .swiper-pagination-bullet-active {
  background-color: #2563eb; /* Tailwind's blue-600 */
}

button{
  cursor: pointer;
}

/* Custom Scrollbar for Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;  /* Adjust width of the scrollbar */
  height: 12px; /* Adjust height of the scrollbar (for horizontal scrollbar) */
}

/* The track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray background */
  border-radius: 10px; /* Optional: rounded corners */
}

/* The thumb (the part that the user drags) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Darker gray color */
  border-radius: 10px;  /* Optional: rounded corners */
  border: 3px solid #f1f1f1; /* Optional: adds border around the thumb */
}

/* The thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;  /* Darker color when hovered */
}

/* For Firefox (not supported in Webkit-based browsers) */
scrollbar {
  width: 12px;
  height: 12px;
}

scrollbar-track {
  background: #f1f1f1;
}

scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

scrollbar-thumb:hover {
  background-color: #555;
}

/* index.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
svg.is-animating {
  opacity: 1;
  transform: scale(1);
  transition: transform 0.6s ease, opacity 0.6s ease;
}

/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
